@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(26, 114, 99, 0.8);
    --colorBlueWhite: #00BCD4;
    --color-bluelight: #11b8af;
    --buttonColorGold: linear-gradient(to right bottom, rgba(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8));
    --buttonColorGreen: linear-gradient(to right bottom, #FFEB3B,#03c2af);
    --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    max-height: 100vh;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    background: tomato;
    height: 100vh;
    display: flex;
    font-size: 1.8rem;
}



.list-item {
    width: 50%;
    overflow-y: scroll;
}


.item__box{
    color: white;
    width: 90%;
    background: rgb(0, 139, 86);
    margin: 1rem 5% 0 5%;
    display: flex;
    transition: all .5s;
    outline: 0;
    border-radius: .2rem;
    position: relative;
    font-size: 1.8rem;
}

.item__box:hover {
    transform: translateY(-4px)!important;
    box-shadow: 0 10px 15px rgba(0,0,0,.13)!important;
    cursor: pointer;
}

.item__box--info {
    width: 90%;
    margin: 1.7rem;
}

.item__box--info p{
    margin-top: 1rem;
}

.item__box--icon {
    width: 10%;
}

.item__box--icon i{
    display: block;
   cursor: pointer;
   font-size: 2.8rem;
   margin-top: 2.8rem;
}

#copy, #info {
    font-size: 3.3rem;
    transform: translateX(-0.4rem);
}




.right-container {
    width: 50%;
    overflow: hidden;
}

#main-form{
    width: 60%;
    margin: 4rem 0 4rem 20%;
}

.main-form__input, .popup__form--input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}


.main-form__input > label, .popup__form--input > label{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    color: white;
}

.main-form__input > input,.main-form__input > select, .popup__form--input > input, .popup__form--input > select {
    display: block;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    color: #495057;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    font-size: 1.8rem;
}

.main-form__input > input:focus, .popup__form--input >input:focus{
    border-color: var(--color-darkblue-alpha);
   outline: 0;
   box-shadow: 0 0 0 0.135rem white;
}

.submit-button, .submit-button2{
    margin-top: 4rem;
    width: 40%;
    margin-left: 30%;
    padding: 1.4rem 0;
    outline: 0;
    border: 0;
    color: white;
    background: var(--color-darkblue);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1.02rem;
}

.submit-button:hover, .submit-button2:hover {
    cursor: pointer;
}



.edit__popup--open{
    display: block;
    position: relative;
    background-color: darkgoldenrod;
    font-size: 1.7rem;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -25%;
   
}



.edit__popup{
    display: none;
}

#popup__form {
    width: 80%;
    margin: 1.9rem 0 1.9rem 10%;
    padding: 1rem 0;
}

.edit__popup--icon {
    text-align: center;
    margin: 3rem 0;
}

.popup-close {
    position: fixed;
    color: white;
    font-size: 4rem;
    right: -1rem;
    top: -1rem;
    cursor: pointer;
}

.submit-button2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}


/* copied student style */

.copyStudent{
    display: none;
}

.copiedStudent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(135, 240, 189);
    box-shadow: 0 0 10px rgb(135, 240, 189), 0 0 30px rgb(135, 240, 189), 0 0 30px rgb(135, 240, 189);
    border-radius: 3%;
}

/*copy from input*/
.myInput {
    display: none;
}

.myInput2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .1rem;
    
}

/*
popup for student info
*/

.student__popup--hide{
    display: none;
}

.student__popup {
    display: block;
    max-width: 980px;
    width: 100%;
    height: 80vh;
    background-image: url(img/bg.png);
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1c1c24;
    font-family: 'Raleway', sans-serif;
    
}



.student__popup h2{
    text-align: center;
    margin: 4rem 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.student__popup p{
    margin: 1rem 4rem;
}

.student__popup h2:hover, .student__popup p:hover {
    color: #e7015e;
}







  /* ----------- scroll right tab ---------------*/

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background-image: linear-gradient(to right bottom, rgba(0, 174, 255, 0.8),rgba(0, 252, 105, 0.8)) ;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      
    background-image: linear-gradient(to right bottom, #FFEB3B,#03c2af) ;
    
  }






