@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(26, 114, 99, 0.8);
    --colorBlueWhite: #00BCD4;
    --color-bluelight: #11b8af;
    --buttonColorGold: linear-gradient(to right bottom, rgba(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8));
    --buttonColorGreen: linear-gradient(to right bottom, #FFEB3B,#03c2af);
    --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    max-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}



.ribbon {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.ribbon a {
    position: absolute;
    right: -60px;
    top: 60px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #888;
    /*background-color: #8ba644;*/
    background-color: #7ddba1;
    color: #fff;
    display: block;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 1px 0;
    padding: 7px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    transition: background-color .5s;
    transition: transform .5s;
}

.ribbon a:hover {
    background-color: #50db85;
    transform: scale(1.1) rotate(45deg);
    
}

.ribbon a::after {
    bottom: 1px;
}

.ribbon a::before {
    top: 2px;
    
}

.ribbon a::before, .ribbon a::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    height: 1px;
    /*background-color: #b8cc84;*/
    background-color: white;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    /*background-image: url(img/bg.png);*/
    /*background: linear-gradient(to right bottom, #ff512f, #cf2170);*/
    height: 100vh;
    display: flex;
    font-size: 1.8rem;
}



.list-item {
    width: 50%;
    overflow-y: scroll;
    
}


.iconcircle {
    font-size: 2.8rem;
    position: absolute;
    top: 4.5rem;
    left: -1.8rem;
}

.iconcircle2 {
    font-size: 2.8rem;
    position: absolute;
    bottom: 4.5rem;
    left: -2rem;
}

.item__box{
    color: white;
    width: 90%;
    background-image: linear-gradient(to left, #589e7b,#21bf73) ;
    margin: 1rem 5% 0 5%;
    display: flex;
    transition: all .5s;
    outline: 0;
    border-radius: .2rem;
    position: relative;
    font-size: 1.8rem;
    
}

.item__box:hover {
    transform: translateY(-4px)!important;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.74)!important;
    cursor: pointer;
}


.deleteInfo, .editInfo, .copyIcon, .infoIcon {
    color: #ffffff;
    transition: color .7s;
}

.deleteInfo:hover, .editInfo:hover, .copyIcon:hover, .infoIcon:hover {
    color: #ffce02;
}

.item__box--info {
    width: 90%;
    margin: 1.7rem;
}

.item__box--info p{
    margin-top: 1rem;
}

.item__box--icon {
    width: 10%;
}

.item__box--icon i{
    display: block;
   cursor: pointer;
   font-size: 2.8rem;
   margin-top: 2.8rem;
}

.infoIcon, .copyIcon {
    font-size: 3.3rem !important;
    transform: translateX(-0.4rem) !important;
}

.right-container {
    width: 50%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #0ba360 0%, #3cba92 100%);
    /*background: linear-gradient(to right, #ff512f, #f09819);*/
    overflow-y: scroll;
}

.right-container::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Handle */
  .right-container::-webkit-scrollbar-thumb {
    
    background-image: linear-gradient(to right bottom, #33f0a1,rgb(206, 248, 89));
    border-radius: 3px;
    
  }
  
  /* Handle on hover */
  .right-container::-webkit-scrollbar-thumb:hover {
      
    background-image: linear-gradient(to right bottom, rgb(245, 233, 70),#f84747) ;

  }


#main-form{
    width: 60%;
    margin: 4rem 0 4rem 20%;
}

.main-form__input, .popup__form--input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}


.main-form__input > label, .popup__form--input > label{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    color: white;
}

.main-form__input > input,.main-form__input > select, .popup__form--input > input, .popup__form--input > select {
    display: block;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    color: #495057;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    font-size: 1.8rem;
}

.main-form__input > input:focus, .popup__form--input >input:focus{
    border-color: var(--color-darkblue-alpha);
   outline: 0;
   box-shadow: 0 0 0 0.135rem white;
}


.notice-display-none {
    display: none;
}

.notice-display-block {
    display: block;
    color: rgb(255, 251, 0);
    font-size: 1.5rem;
    margin: 5px 0 0 10px;
}

.submit-button, .submit-button2{
    margin-top: 4rem;
    width: 40%;
    margin-left: 30%;
    padding: 1.4rem 0;
    outline: 0;
    border: 0;
    color: white;
    background: var(--color-darkblue);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1.02rem;
}

.submit-button:hover, .submit-button2:hover {
    cursor: pointer;
}

.falseIcon {
    position: absolute;
    right: 4%;
    bottom: 18%;
    color: tomato;
}

.falseIconEmpty {
    position: absolute;
    right: 4%;
    bottom: 38%;
    color: tomato;
}

.trueIcon {
    
    position: absolute;
    color: #1aa86b;
    right: 4%;
    bottom: 18%;
}


.requiredIcon {
    color: white;
    font-size: .8rem;
    position: absolute;
    right: -4%;
    top: 35%;
}


.requiredIconEmpty {
    color: white;
    font-size: .8rem;
    position: absolute;
    right: -4%;
    top: 25%;
}

.hideFormIcon {
    display: none;
}


.edit__popup--open{
    display: block;
    position: relative;
    background: linear-gradient(to right bottom, #e74929, #a71c5a);
    font-size: 1.7rem;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -25%;
    animation: zoomForm .8s;
   
}



.edit__popup{
    display: none;
}

#popup__form {
    width: 80%;
    margin: 1.9rem 0 1.9rem 10%;
    padding: 1rem 0;
}

.edit__popup--icon {
    text-align: center;
    margin: 3rem 0;
}

.popup-close {
    position: fixed;
    color: white;
    font-size: 4rem;
    right: -1rem;
    top: -1rem;
    cursor: pointer;
}

.popup-close-hide {
    display: none;
}

.popup-close-2 {
    position: fixed;
    color: #FF9800;
    font-size: 4rem;
    right: -1rem;
    top: -1rem;
    cursor: pointer;
}

.submit-button2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}


/* copied student style */

.copyStudent{
    display: none;
}

.copiedStudent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(135, 240, 189);
    box-shadow: 0 0 10px rgb(135, 240, 189), 0 0 30px rgb(135, 240, 189), 0 0 30px rgb(135, 240, 189);
    border-radius: 3%;
}

/*copy from input*/
.myInput {
    display: none;
}

.myInput2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .1rem;
    
}

/*
popup for student info
*/



.student__popup--hide{
    display: none;
}

.student__popup {
    display: block;
    max-width: 980px;
    width: 100%;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1c1c24;
    font-family: 'Raleway', sans-serif;
}



.student__popup h2{
    text-align: center;
    margin: 3rem 0 1rem 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    animation: toLeft 2s;
    color: #FFC107;
}

.student__popup h2:hover{
    color: #ff007a;
}

.student__infomation {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 45%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}


.student__infomation div{
    text-transform: uppercase;
    color: #546E7A;
    padding: 1rem 4rem;
    transition: color 500ms;
    transition: border-bottom 500ms;
    transition: background-color 500ms;
}

.student__infomation div:hover{
    background-color: #e7015e;
    color: white;
}


.student__infomation--default {
    border-bottom: .2rem solid #ff007a;
    color: #ff007a !important;
}

.student__infomation--default:hover {
    border-bottom: .2rem solid #ffffff;
}

.student__infomation--credit {
    border-bottom: .2rem solid #B0BEC5;
   
}

.student__infomation--portfolio {
    border-bottom: .2rem solid #B0BEC5;
   
}


.student__infomation--show {
    border-bottom: .2rem solid #B0BEC5;
   
}

.student__infomation--credit:hover {
    border-bottom: .2rem solid #ffffff;
   
}

.student__infomation--portfolio:hover {
    border-bottom: .2rem solid #ffffff;
   
}


.student__infomation--show:hover {
    border-bottom: .2rem solid #ffffff;
   
}

#student__text-1 {
    display: block;
}

#student__text-2 {
    display: none;
}

#student__text-3 {
    display: none;
}

.student__text {
    margin: 1.5rem 0 0 7rem;
    font-size: 1.8rem;
    position: relative;
    
}

.student__text--default {
    display: block;
    position: absolute;
    animation: toTop 1.2s;
    opacity: .95;
}

.student__text--default li{
    padding: .5rem;
}







.small-gallery {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 2.8rem;
    display: flex;
}


.img-box {
    width: 12%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 1s;
}

.img-box:not(:last-child) {
   margin-right: 1%;
}

.img-box:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(202, 202, 202), 0 0 30px rgb(150, 144, 144), 0 0 30px rgb(138, 129, 129);
}

.img-content {
    width: 100%;
    padding: 5rem;
    background-position: center;
    background-size: cover;
    border: 2px dashed #eeeded;
    filter: opacity(.7);
    transition: all .5s;

}

.img-content:hover {
    transform: scale(1.2);
    filter: opacity(1);
}

.box1 {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/20/22/14/men-2425121_1280.jpg);
}

.box2 {
    background-image: url(https://cdn.pixabay.com/photo/2015/06/22/08/37/children-817365_1280.jpg);
}

.box3 {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/30/18/17/girl-2189247_1280.jpg);
}

.box4 {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/19/17/09/girl-1403418_1280.jpg);
}

.box5 {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/23/12/40/night-1927265_1280.jpg);
}

.box6 {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_1280.jpg);
}

.box7 {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/19/17/19/young-woman-1149643_1280.jpg);
}

.box8 {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/14/04/54/woman-1822646_1280.jpg);
}


/* student info gallery */


.student__gallery {
    display: block;
    max-width: 980px;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1c1c24;
    font-family: 'Raleway', sans-serif;
    overflow-x: scroll;
    background-size: cover;
    
}

.student1 {
    
    background-image: url(https://cdn.pixabay.com/photo/2017/06/20/22/14/men-2425121_1280.jpg);
}

.student2 {
    
    background-image: url(https://cdn.pixabay.com/photo/2015/06/22/08/37/children-817365_1280.jpg);
}

.student3 {
    
    background-image: url(https://cdn.pixabay.com/photo/2017/03/30/18/17/girl-2189247_1280.jpg);
}

.student4 {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/19/17/09/girl-1403418_1280.jpg);
}

.student5 {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/23/12/40/night-1927265_1280.jpg);
}

.student6 {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_1280.jpg);
}

.student7 {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/19/17/19/young-woman-1149643_1280.jpg);
}

.student8 {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/14/04/54/woman-1822646_1280.jpg);
}

.student__gallery .small-gallery{
    margin-bottom: 1rem;
    
}



.hideImageIcon {
    display: block;
    position: absolute;
    left: 1.5%;
    bottom: 19%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

.hideThisIcon{
    display: none;
}

.showImageIcon {
    display: block;
    position: absolute;
    left: 1.5%;
    bottom: 19%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

/*to the top button*/

#toTheTop {
    font-size: 4rem;
    color: tomato;
    position: fixed;
    bottom: 3rem;
    left: 18rem;
    cursor: pointer;

}



  

.changeColorRed {
    color: white;
    display: inline;
    padding: 4rem;
    background-color: red;
    cursor: pointer;
    position: fixed;
    top: 0;
}

.changeColorGreen {
    color: white;
    display: inline;
    padding: 4rem;
    background-color: rgb(0, 255, 13);
    cursor: pointer;
    position: fixed;
    top: 100px;
}

.boxtool1 {
    position: absolute;
    color: white;
    
    background-color: #1b1b32;
    padding-left: 2rem;
    top: 300px;
    left: -9%;
    transition: left 500ms;
    text-decoration: none;
}

.boxtool1:hover {
    cursor: pointer;
    left: -.5%;
    box-shadow: 0 2px 10px rgb(216, 213, 213);
}

.boxtool1 i{
    padding: 2rem 2rem;
    background-color: tomato;
    margin-left: 2rem;
    font-size: 2rem;
}


.colorMenuShow {
    padding: 3.5rem 3rem 2rem 2rem;
    position: fixed;
    background-color: #223142;
    color: white;
    top: 250px;
    animation: colorMenuBoxShow 1s;
    z-index: 1000;
}

.colorSetting {
    position: absolute;
    left: 180px;
    padding: 1.5rem;
    background-color: #223142;
}

.colorSetting:hover {
    cursor: pointer;
}

.colorMenuHide {
    padding: 3.5rem 3rem 2rem 2rem;
    position: fixed;
    background-color: #223142;
    color: white;
    top: 250px;
    left: -180px;
    animation: colorMenuBoxHide 1s;
    z-index: 1000;
}

.hideMenu{
    padding: 3.5rem 3rem 2rem 2rem;
    position: fixed;
    background-color: #223142;
    color: white;
    top: 250px;
    left: -180px;
    z-index: 1000;
}


.colorBox p {
    position: absolute;
    top: 1.2rem;

}

.colorLine,.colorLine2 {
    display: flex;
    margin-top: 1rem;
}

.color,.color2 {
    width: 2.1rem;
    height: 2.1rem;
    background-color: tomato;
    margin-left: 5px;
    transition: transform .3s;
}

.color:hover,.color2:hover {
    cursor: pointer;
    border: 1px solid white;
    transform: scale(1.3);
}


.colorGreen {
    background-color: #4CAF50;
}
.colorRed {
    background-color: #F44336;
}
.colorBlue {
    background-color: #2196F3;
}
.colorViolet {
    background-color: #9C27B0;
}
.colorYellow {
    background-color: #FFEB3B;
}
.colorPink {
    background-color: #E91E63;
}
.colorPurple {
    background-color: #673AB7;
}
.colorGray {
    background-color: #9E9E9E;
}
.colorOrange {
    background-color: #FF9800;
}
.colorWhite {
    background-color: #ffffff;
}









  /* ----------- scroll right tab ---------------*/

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background-image: linear-gradient(to right bottom, #678a74,rgba(0, 252, 105, 0.8)) ;
    border-radius: 3px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      
    background-image: linear-gradient(to right bottom, #37ffab,rgb(200, 231, 112));

  }

  @keyframes toLeft {
  
    0%  {left:40px; top:0px; opacity: 0;}
      100%   {left:0px; top:0px;}
  }

  @keyframes toTop {
  
    0%  {bottom:40px; top:40px; opacity: 0;}
      100%   {bottom:0px; top:0px;}
  }

  @keyframes zoomForm {
  
    0%  {transform: translate(-50%,-50%) scale(.1);}
      100%   {transform: translate(-50%,-50%) scale(1);}
  }

  @keyframes colorMenuBoxShow{
    0%  {left:-180px; top:250px; opacity: 0.8;}
    100%   {left:0px; top:250px; opacity: 1;}
  }

  @keyframes colorMenuBoxHide{
    0%  {left:0px; top:250px; opacity: 0.8;}
    100%   {left:-180px; top:250px; opacity: 1;}
  }
 